# enable colored output from ls, etc
export CLICOLOR=1
export LSCOLORS="Exfxcxdxbxegedabagacad"

export EDITOR="vim"

# Homebrew M1
export PATH=/opt/homebrew/bin:$PATH
export PATH=/opt/homebrew/sbin:$PATH

# tfenv M1
export TFENV_ARCH=arm64

# sess config
export SESS_PROJECT_ROOT="$HOME/Projects/work/:$HOME/Projects/personal/"

export FZF_DEFAULT_COMMAND='ag --path-to-ignore ~/.ag_ignore -l --nocolor --hidden -g ""'

# kubectx, kubens to path
export PATH="$HOME/bin:$PATH"
